*{
    margin: 0;
    padding: 0;
}

body{
	margin: auto;
    margin-top: 12rem;
    display: grid;
    place-content: center;
    grid-template-areas: 
    "turn turn turn"
    "one two three"
    "four five six"
    "seven eight nine";
    background-color: brown;
}

.button{
    background-color: white;
    color: red;
    border: .3rem solid black;
    padding: 5rem;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: red;
    transform: scale(1.2);
    color: white;
}