:root{
    --background-color: #473198;
    --accent-color-1: #DAFFED;
    --accent-color-2: #9BF3F0;
    --accent-color-3: #4A0D67;
    --accent-color-4: #010400;
    --accent-color-5: #ADFC92;
}

*{
    margin: 0;
    padding: 0;
}

body{
	margin: auto;
    margin-top: 10rem;
    display: grid;
    place-content: center;
    grid-template-areas: 
    "X turn turn turn O"
    "X one two three O"
    "X four five six O"
    "X seven eight nine O";
    background-color: var(--background-color);
}
/* All play area buttons */
.button{
    padding: 5rem;
    background-color: var(--accent-color-3);
    color: var(--accent-color-3);
    border: .3rem solid var(--background-color);
    border-radius: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color: var(--accent-color-1);
    transform: scale(1.2);
    color: var(--accent-color-3);
}
    #btn1{
        grid-area: one;
    }
    #btn2{
        grid-area: two;
    }
    #btn3{
        grid-area: three;
    }
    #btn4{
        grid-area: four;
    }
    #btn5{
        grid-area: five;
    }
    #btn6{
        grid-area: six;
    }
    #btn7{
        grid-area: seven;
    }
    #btn8{
        grid-area: eight;
    }
    #btn9{
        grid-area: nine;
    }

/* Tells who turn it is */
#Turn-text{
    grid-area: turn;
    color: var(--accent-color-2);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* On each side of the play area */
.player-info{
    display: none;
    color: var(--accent-color-2);
    text-align: center;
    margin-top: 8rem;
    font-size: 2.2rem;
}
#playerX{
    grid-area: X;
    margin-right: 2rem;
}
#playerO{
    grid-area: O;
    margin-left: 2rem;
}



/*Pop up modal container*/
#modal-container{
    margin: auto;
    margin-top: -5rem;
    padding: 3rem 6rem 6rem 6rem;
    display: grid;
    place-content: center;
    font-size: 6rem;
    background-color: var(--background-color);
    border-radius: 2rem;
}
/*Modal form*/

/*Player X label and input*/
#playerX-input-container{
    color: var(--accent-color-2);
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
/*Player O label and input*/
#playerO-input-container{
    color: var(--accent-color-2);
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.o-label{
    margin-top: 1rem;
}
input{
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--background-color);
    border: 4px solid var(--accent-color-3);
    border-radius: 2rem;
    font-size: 2rem;
    color: var(--accent-color-1);
}

#btn-container{
    margin-top: 4rem;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

button{
    padding: 2rem 10rem 2rem 10rem;
    background-color: var(--accent-color-2);
    border-radius: 2rem;
    font-size: 2rem;
    color: var(--background-color);
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: var(--accent-color-1);
    transform: scale(1.1);
    color: var(--accent-color-3);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0);
    pointer-events: all;
}

